In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

 1. Create Two numpy array of size 3 X 2 and 2 X 3
 2.  Randomly Initalize that array

In [6]:
numpy_arr1=np.random.randint(100,size=(3,2))
numpy_arr2=np.random.randint(100,size=(2,3))
print(numpy_arr1)
print(numpy_arr2)

[[19 34]
 [99 56]
 [30  6]]
[[17 45 14]
 [57 99 45]]

# Perform matrix multiplication

In [9]:
multiplication= np.matmul(numpy_arr1,numpy_arr2)
print(multiplication)

[[2261 4221 1796]
 [4875 9999 3906]
 [ 852 1944  690]]

# Perform elementwise matrix multiplication

In [15]:
ans=np.zeros((len(numpy_arr1),len(numpy_arr2[0])))
# print(ans)
for i in range(len(numpy_arr1)):
   for j in range(len(numpy_arr2[0])):
       for k in range(len(numpy_arr2)):
           ans[i][j] += numpy_arr1[i][k] * numpy_arr2[k][j]

print(ans)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
[[2261. 4221. 1796.]
 [4875. 9999. 3906.]
 [ 852. 1944.  690.]]

 Find mean of first matrix

In [18]:
matrix_mean=np.mean(numpy_arr1)
print(matrix_mean)

40.666666666666664

# Convert Numeric entries(columns) of mtcars.csv to Mean Centered Version

In [25]:
data=pd.read_csv('./mtcars.csv')
column_name=['mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']
for i in column_name:
  print("-----------------",i,"------------------")
  arr1=np.array(data[i])
  npcentered=arr1-np.mean(arr1)
  print(npcentered)

----------------- mpg ------------------
[ 0.909375  0.909375  2.709375  1.309375 -1.390625 -1.990625 -5.790625
  4.309375  2.709375 -0.890625 -2.290625 -3.690625 -2.790625 -4.890625
 -9.690625 -9.690625 -5.390625 12.309375 10.309375 13.809375  1.409375
 -4.590625 -4.890625 -6.790625 -0.890625  7.209375  5.909375 10.309375
 -4.290625 -0.390625 -5.090625  1.309375]
----------------- cyl ------------------
[-0.1875 -0.1875 -2.1875 -0.1875  1.8125 -0.1875  1.8125 -2.1875 -2.1875
 -0.1875 -0.1875  1.8125  1.8125  1.8125  1.8125  1.8125  1.8125 -2.1875
 -2.1875 -2.1875 -2.1875  1.8125  1.8125  1.8125  1.8125 -2.1875 -2.1875
 -2.1875  1.8125 -0.1875  1.8125 -2.1875]
----------------- disp ------------------
[ -70.721875  -70.721875 -122.721875   27.278125  129.278125   -5.721875
  129.278125  -84.021875  -89.921875  -63.121875  -63.121875   45.078125
   45.078125   45.078125  241.278125  229.278125  209.278125 -152.021875
 -155.021875 -159.621875 -110.621875   87.278125   73.278125  119.278125
  169.278125 -151.721875 -110.421875 -135.621875  120.278125  -85.721875
   70.278125 -109.721875]
----------------- hp ------------------
[-36.6875 -36.6875 -53.6875 -36.6875  28.3125 -41.6875  98.3125 -84.6875
 -51.6875 -23.6875 -23.6875  33.3125  33.3125  33.3125  58.3125  68.3125
  83.3125 -80.6875 -94.6875 -81.6875 -49.6875   3.3125   3.3125  98.3125
  28.3125 -80.6875 -55.6875 -33.6875 117.3125  28.3125 188.3125 -37.6875]
----------------- drat ------------------
[ 0.3034375  0.3034375  0.2534375 -0.5165625 -0.4465625 -0.8365625
 -0.3865625  0.0934375  0.3234375  0.3234375  0.3234375 -0.5265625
 -0.5265625 -0.5265625 -0.6665625 -0.5965625 -0.3665625  0.4834375
  1.3334375  0.6234375  0.1034375 -0.8365625 -0.4465625  0.1334375
 -0.5165625  0.4834375  0.8334375  0.1734375  0.6234375  0.0234375
 -0.0565625  0.5134375]
----------------- wt ------------------
[-0.59725 -0.34225 -0.89725 -0.00225  0.22275  0.24275  0.35275 -0.02725
 -0.06725  0.22275  0.22275  0.85275  0.51275  0.56275  2.03275  2.20675
  2.12775 -1.01725 -1.60225 -1.38225 -0.75225  0.30275  0.21775  0.62275
  0.62775 -1.28225 -1.07725 -1.70425 -0.04725 -0.44725  0.35275 -0.43725]
----------------- qsec ------------------
[-1.38875 -0.82875  0.76125  1.59125 -0.82875  2.37125 -2.00875  2.15125
  5.05125  0.45125  1.05125 -0.44875 -0.24875  0.15125  0.13125 -0.02875
 -0.42875  1.62125  0.67125  2.05125  2.16125 -0.97875 -0.54875 -2.43875
 -0.79875  1.05125 -1.14875 -0.94875 -3.34875 -2.34875 -3.24875  0.75125]
----------------- vs ------------------
[-0.4375 -0.4375  0.5625  0.5625 -0.4375  0.5625 -0.4375  0.5625  0.5625
  0.5625  0.5625 -0.4375 -0.4375 -0.4375 -0.4375 -0.4375 -0.4375  0.5625
  0.5625  0.5625  0.5625 -0.4375 -0.4375 -0.4375 -0.4375  0.5625 -0.4375
  0.5625 -0.4375 -0.4375 -0.4375  0.5625]
----------------- am ------------------
[ 0.59375  0.59375  0.59375 -0.40625 -0.40625 -0.40625 -0.40625 -0.40625
 -0.40625 -0.40625 -0.40625 -0.40625 -0.40625 -0.40625 -0.40625 -0.40625
 -0.40625  0.59375  0.59375  0.59375 -0.40625 -0.40625 -0.40625 -0.40625
 -0.40625  0.59375  0.59375  0.59375  0.59375  0.59375  0.59375  0.59375]
----------------- gear ------------------
[ 0.3125  0.3125  0.3125 -0.6875 -0.6875 -0.6875 -0.6875  0.3125  0.3125
  0.3125  0.3125 -0.6875 -0.6875 -0.6875 -0.6875 -0.6875 -0.6875  0.3125
  0.3125  0.3125 -0.6875 -0.6875 -0.6875 -0.6875 -0.6875  0.3125  1.3125
  1.3125  1.3125  1.3125  1.3125  0.3125]
----------------- carb ------------------
[ 1.1875  1.1875 -1.8125 -1.8125 -0.8125 -1.8125  1.1875 -0.8125 -0.8125
  1.1875  1.1875  0.1875  0.1875  0.1875  1.1875  1.1875  1.1875 -1.8125
 -0.8125 -1.8125 -1.8125 -0.8125 -0.8125  1.1875 -0.8125 -1.8125 -0.8125
 -0.8125  1.1875  3.1875  5.1875 -0.8125]

In [ ]:
print(data)

             Unnamed: 0   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0             Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1         Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2            Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3        Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4     Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2
5               Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
6            Duster 360  14.3    8  360.0  245  ...  15.84   0   0     3     4
7             Merc 240D  24.4    4  146.7   62  ...  20.00   1   0     4     2
8              Merc 230  22.8    4  140.8   95  ...  22.90   1   0     4     2
9              Merc 280  19.2    6  167.6  123  ...  18.30   1   0     4     4
10            Merc 280C  17.8    6  167.6  123  ...  18.90   1   0     4     4
11           Merc 450SE  16.4    8  275.8  180  ...  17.40   0   0     3     3
12           Merc 450SL  17.3    8  275.8  180  ...  17.60   0   0     3     3
13          Merc 450SLC  15.2    8  275.8  180  ...  18.00   0   0     3     3
14   Cadillac Fleetwood  10.4    8  472.0  205  ...  17.98   0   0     3     4
15  Lincoln Continental  10.4    8  460.0  215  ...  17.82   0   0     3     4
16    Chrysler Imperial  14.7    8  440.0  230  ...  17.42   0   0     3     4
17             Fiat 128  32.4    4   78.7   66  ...  19.47   1   1     4     1
18          Honda Civic  30.4    4   75.7   52  ...  18.52   1   1     4     2
19       Toyota Corolla  33.9    4   71.1   65  ...  19.90   1   1     4     1
20        Toyota Corona  21.5    4  120.1   97  ...  20.01   1   0     3     1
21     Dodge Challenger  15.5    8  318.0  150  ...  16.87   0   0     3     2
22          AMC Javelin  15.2    8  304.0  150  ...  17.30   0   0     3     2
23           Camaro Z28  13.3    8  350.0  245  ...  15.41   0   0     3     4
24     Pontiac Firebird  19.2    8  400.0  175  ...  17.05   0   0     3     2
25            Fiat X1-9  27.3    4   79.0   66  ...  18.90   1   1     4     1
26        Porsche 914-2  26.0    4  120.3   91  ...  16.70   0   1     5     2
27         Lotus Europa  30.4    4   95.1  113  ...  16.90   1   1     5     2
28       Ford Pantera L  15.8    8  351.0  264  ...  14.50   0   1     5     4
29         Ferrari Dino  19.7    6  145.0  175  ...  15.50   0   1     5     6
30        Maserati Bora  15.0    8  301.0  335  ...  14.60   0   1     5     8
31           Volvo 142E  21.4    4  121.0  109  ...  18.60   1   1     4     2

[32 rows x 12 columns]